@font-face {
  font-family: ‘Arial’;
  font-style: normal;
  font-weight: bold;
  src: local('Arial'), local(‘Arial-Light'), url(https://github.com/tzmeme/hello-there/raw/master/Arial.ttf?raw=true) Format(‘woff’);
}

@font-face {
  font-family: ‘Open Sans Bold’;
  font-style: normal;
  font-weight: bold;
  src: local(‘Open Sans Bold'), local(‘OpenSans-Bold’), url(https://github.com/tzmeme/hello-there/raw/master/Arial.ttf?raw=true) Format(‘woff’);
}


@font-face {
  font-family:’Zawgyi-One’;
  src: local(‘Zawgyi-One’),
       url(https://github.com/tzmeme/hello-there/raw/master/ZawgyiOne.ttf?raw=true) Format(‘woff’);
  font-weight: bold;
}

@font-face {
    font-family: 'Allura';
    font-style: normal;
    font-weight: 400;
    src: local('Allura'), local('Allura-Regular'), url(https://fonts.gstatic.com/s/allura/v4/piROihwq0_hcWhCbsLJUv-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    src: local('Amatic SC'), local('AmaticSC-Regular'), url(https://fonts.gstatic.com/s/amaticsc/v8/DPPfSFKxRTXvae2bKDzp5LO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
    font-family: 'Arizonia';
    font-style: normal;
    font-weight: 400;
    src: local('Arizonia'), local('Arizonia-Regular'), url(https://fonts.gstatic.com/s/arizonia/v6/8Usm7f8XTsZinW2e-ZMd5XYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

@font-face {
    font-family: 'Averia Sans Libre';
    font-style: normal;
    font-weight: 400;
    src: local('Averia Sans Libre Regular'), local('AveriaSansLibre-Regular'), url(https://fonts.gstatic.com/s/averiasanslibre/v4/yRJpjT39KxACO9F31mj_LhlS6V2rbkt3HRj5hz1lBB8.woff) format('woff');
}

@font-face {
    font-family: 'Cabin Sketch';
    font-style: normal;
    font-weight: 400;
    src: local('Cabin Sketch Regular'), local('CabinSketch-Regular'), url(https://fonts.gstatic.com/s/cabinsketch/v8/d9fijO34zQajqQvl3YHRCaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    src: local('Francois One Regular'), local('FrancoisOne-Regular'), url(https://fonts.gstatic.com/s/francoisone/v9/bYbkq2nU2TSx4SwFbz5sCKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
    font-family: 'Fredericka the Great';
    font-style: normal;
    font-weight: 400;
    src: local('Fredericka the Great'), local('FrederickatheGreat'), url(https://fonts.gstatic.com/s/frederickathegreat/v5/7Es8Lxoku-e5eOZWpxw18uNtPus5Q24fzFZQPskWbXv3rGVtsTkPsbDajuO5ueQw.woff) format('woff');
}

@font-face {
    font-family: 'Jacques Francois Shadow';
    font-style: normal;
    font-weight: 400;
    src: local('Jacques Francois Shadow'), local('JacquesFrancoisShadow-Regular'), url(https://fonts.gstatic.com/s/jacquesfrancoisshadow/v4/V14y0H3vq56fY9SV4OL_FKFhtd8g-LnGxM2DCqij0scC1LhKU8qFLLahJuQDJSaO.woff) format('woff');
}

@font-face {
    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Slab'), local('JosefinSlab'), url(https://fonts.gstatic.com/s/josefinslab/v6/46aYWdgz-1oFX11flmyEfaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'), url(https://fonts.gstatic.com/s/kaushanscript/v4/qx1LSqts-NtiKcLw4N03ILDH3ri20rYH10B2w3wbVeU.woff) format('woff');
}

@font-face {
    font-family: 'Love Ya Like A Sister';
    font-style: normal;
    font-weight: 400;
    src: local('Love Ya Like A Sister Regular'), local('LoveYaLikeASister-Regular'), url(https://fonts.gstatic.com/s/loveyalikeasister/v7/LzkxWS-af0Br2Sk_YgSJYySvQ-6j8YIoWm7ju43Xw-2glnMp3_3A8V8Ai8YosRtX.woff) format('woff');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: local('Merriweather'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v11/RFda8w1V0eDZheqfcyQ4EKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
    font-family: 'Offside';
    font-style: normal;
    font-weight: 400;
    src: local('Offside'), local('Offside-Regular'), url(https://fonts.gstatic.com/s/offside/v4/kXtToyuSIeDzSauH8LQwXALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v10/qpy-UiLNKP-VfOdbcs6r6-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
    font-family: 'Over the Rainbow';
    font-style: normal;
    font-weight: 400;
    src: local('Over the Rainbow'), local('OvertheRainbow'), url(https://fonts.gstatic.com/s/overtherainbow/v7/6gp-gkpI2kie2dHQQLM2jXGcvjTQD8CeFku5wvSkZIA.woff) format('woff');
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v7/yunJt0R8tCvMyj_V4xSjaXYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

@font-face {
    font-family: 'Romanesco';
    font-style: normal;
    font-weight: 400;
    src: local('Romanesco'), local('Romanesco-Regular'), url(https://fonts.gstatic.com/s/romanesco/v5/ulV2bu0ivcWDuAzM7oh4XbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
    font-family: 'Sacramento';
    font-style: normal;
    font-weight: 400;
    src: local('Sacramento'), local('Sacramento-Regular'), url(https://fonts.gstatic.com/s/sacramento/v4/WFDkXpubrEwopJnSlHV6CL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@font-face {
    font-family: 'Seaweed Script';
    font-style: normal;
    font-weight: 400;
    src: local('Seaweed Script'), local('SeaweedScript-Regular'), url(https://fonts.gstatic.com/s/seaweedscript/v4/eorWAPpOvvWrPw5IHwE60LDH3ri20rYH10B2w3wbVeU.woff) format('woff');
}

@font-face {
    font-family: 'Special Elite';
    font-style: normal;
    font-weight: 400;
    src: local('Special Elite'), local('SpecialElite-Regular'), url(https://fonts.gstatic.com/s/specialelite/v6/9-wW4zu3WNoD5Fjka35Jm4kaQb-UsZVONjobs91YQtw.woff) format('woff');
}

@font-face {
    font-family: ‘ZawgyiOne’;   
   font-weight: 400;
    src: local('ZawgyiOne'), local('ZawgyiOne'), url(https://fonts.gstatic.com/s/specialelite/v6/9-wW4zu3WNoD5Fjka35Jm4kaQb-UsZVONjobs91YQtw.woff) format('woff');
}
